@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Valkoinen teksti */
  --background-start-rgb: 0, 0, 0; /* Musta tausta */
  --background-end-rgb: 0, 0, 0;   /* Musta tausta */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  @apply h-full w-full bg-black text-white;
  margin: 0;
  padding: 0;
}

/* Lisää mahdolliset lisäutilityt */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
